object{
  width: 100%;
  height: 100vh;
}

.btn-home {
  position: absolute;
  right: 50px;
  bottom: 100px;
}

.btn-back {
  position: absolute;
  left: 50px;
  bottom: 100px;
}

.back {
  position: absolute;
  left: 10px;
  bottom: 90px;
  color: #337ab7;
}

.next {
  position: absolute;
  right: 10px;
  bottom: 90px;
  color: #337ab7;
}

.btn-next {
  position: absolute;
  right: 50px;
  bottom: 100px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
  border-color: #4b4c4c;
  background-color: #FFFFFF;
}

.col-sm-6{
  height: 100vh;
  padding-left: 20%;
  padding-top: 15%;
}

.column-header{
  padding-top: 0;
  padding-left: 0%;
}

#fig1, #fig2, #fig3, #fig4, #fig5, #fig6{
      float:left;
      width: 150px;
      height: 150px;
      padding: 10px;
      border: 2px solid blue;
    }

#fig1, #fig2, #fig3, #fig4, #fig5, #fig6 {
  display: inline;
  margin: 10px;
}

 img{
  width: 125px;
  height: 125px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 75px;
  left: 0;
  bottom: 0;
  background-color: #D3D3D3;
  opacity: 0.5;
}
